body {
    background: black;
    color: antiquewhite;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.scary {
    font-family: 'spooky';
    color: red;
    font-size: 1000%;
}

@font-face {
    font-family: 'spooky';
    src: url('spooky-webfont.woff2') format('woff2'),
        url('spooky-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

svg {
    display: block;
    margin: 0 auto;
}

path {
    fill: none;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}