body {
    text-align: left;
    background: black;
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;

}

h1 {
    color: rgb(189, 8, 8);
}

input[type=text] {
    width: 33%;
    background-color: black;
    transition: ease-in-out, width .35s ease-in-out;

}

input[type=text]:focus {
    width: 50%;

}

input[type=submit] {
    background: black;
}